.cites__grid {
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

